footer{
	padding: 40px;
	background: black;
	align-content: center;
	color: white;
	text-align: center
}


.flex-wrapper{
	display: flex;
	justify-content: flex-end;
}

.flex-wrapper> div{
	padding: 25px;
	margin: 10px;
}